[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=gunicorn
Group=gunicorn
WorkingDirectory=/var/www/zenosphere
ExecStart=/usr/local/bin/gunicorn --pid /run/gunicorn/pid zenoSphere.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Environment="DJANGO_SETTINGS_MODULE=zenoSphere.settings.qa"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
